@import '../../../opa-styles/opa-components.css';

.main-content {
  margin: 10px;
}

.opa-graph-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
  padding: 15px;
  color: var(--gray-darker);
  font-size: 16px;
  line-height: 1.6;
}

.canvas-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.opa-graph-card h3 {
  font-size: 20px;
  line-height: 1.1;
  color: var(--gray);
}

.opa-graph-card i {
  font-size: 16px;
  cursor: pointer;
}

.opa-graph-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.opa-graph-card-description {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  font-weight: 200;
}

.opa-graph-card-description p {
  margin: 0 0 12.5px;
}

.opa-graph-card-label {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.opa-graph-card-border {
  background-color: var(--primary-color);
  border-radius: 3px;
  height: 21px;
  margin-right: 5px;
  width: 3px;
}

.opa-graph-card-content {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.opa-graph-card-content strong {
  font-size: 18px;
}

.opa-storage-list {
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
  padding: 15px;
  margin-bottom: 25px;
}

.opa-storage-list-header {
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.opa-storage-list-header p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--gray-darker);
  margin-left: 15px;
}

.opa-storage-list-header button {
  margin-bottom: 10px;
}

.storage-type {
  background-color: var(--primary-color) !important;
}

.storage-type td {
  color: var(--gray-darker);
  font-size: 18px;
  font-weight: 600;
  height: 30px !important;
}

.order-checkbox {
  margin-top: 5px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 4px;
}

.order-checkbox:checked {
  background-image: url('/assets/images/checkbox-marked.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.order-cell-checkbox .order-checkbox {
  margin-top: 5px;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 4px;
}

.order-cell-checkbox .order-checkbox:checked {
  background-image: url('/assets/images/checkbox-marked.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

/* Modal */
.opa-select-multiple {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
  margin-bottom: 15px;
  padding: 6px 12px;
  line-height: 1.6;
  font-size: 16px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}

.opa-select-multiple:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(149,96,4,.2);
}

.orders-form {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 20px
}

.orders-form-container {
  flex: 1;
}

.orders-table-container {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  margin-top: 15px;
}

.opa-modal-footer {
  justify-content: normal;
}

.modal-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.order-checkbox {
  margin-top: 5px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 4px;
}

.order-checkbox:checked {
  background-image: url('/assets/images/checkbox-marked.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.order-cell-checkbox .order-checkbox {
  margin-top: 5px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 4px;
}

.order-cell-checkbox .order-checkbox:checked {
  background-image: url('/assets/images/checkbox-marked.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.opa-storage-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.opa-storage-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.opa-ingredient-form-description {
  flex: 1;
}

.opa-ingredient-form-units {
  flex: 1;
}
