<opa-ingredient-popup (close)="this.showModal()" *ngIf="this.ingredientModal"
  (emitIngredient)="this.receiveIngredients($event)"></opa-ingredient-popup>

<div class="container-fluid gx-0">
  <opa-yline routeNameToBeUsed="Estoque"></opa-yline>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="opa-graph-card">
            <div>
              <h3 class="text-center m-0 opa-graph-card-header">
                <strong>Produto x Produção máxima</strong>
                <i class="fa-solid fa-circle-question" triggers="click" [autoClose]="'inside'"
                  ngbTooltip="Quantidade máxima que pode ser produzida por produto com os ingredientes em estoque."
                  tooltipClass="opa-tooltip"></i>
              </h3>
              <p class="opa-graph-card-description">
                Quantos produtos podem ser produzidos com itens em estoque.
              </p>
            </div>
            <div class="opa-graph-card-legend">
              <div>
                <div class="opa-graph-card-label" *ngFor="let product of sortedProductMaxProduction">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>{{ product.product }}</span>
                    <span>
                      <strong>{{ product.maxProduction }}</strong>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <canvas id="graph-product-max-production"></canvas>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="opa-graph-card">
            <div>
              <h3 class="text-center m-0 opa-graph-card-header">
                <strong>Tipos com mais ingredientes</strong>
                <i class="fa-solid fa-circle-question" triggers="click" [autoClose]="'inside'"
                  ngbTooltip="Indica quais tipos tem mais ingredientes inseridos." tooltipClass="opa-tooltip"></i>
              </h3>
              <p class="opa-graph-card-description">
                Quais tipos seu restaurante mais usa para fazer produtos.
              </p>
            </div>
            <div class="canvas-container">
              <canvas id="graph-most-type-per-ingredient"></canvas>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
          <div class="opa-graph-card">
            <div>
              <h3 class="text-center m-0 opa-graph-card-header">
                <strong>Ingredientes mais usados</strong>
                <i class="fa-solid fa-circle-question" triggers="click" [autoClose]="'inside'"
                  ngbTooltip="Quantidade de produtos que cada ingrediente é usado." tooltipClass="opa-tooltip"></i>
              </h3>
              <p class="opa-graph-card-description">
                Quais ingredientes são mais necessários manter.
              </p>
            </div>
            <div class="opa-graph-card-legend">
              <div>
                <div class="opa-graph-card-label" *ngFor="let ingredient of sortedMostUsedIngredients">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>{{ ingredient.name }}</span>
                    <span>
                      <strong>{{ ingredient.productsCount }}</strong> ({{ ingredient.productsCount / products.length *
                      100 |
                      number: '1.1-1'
                      }}%)
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <canvas id="graph-most-used-ingredients"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="opa-storage-list">
        <div class="opa-storage-list-header mb-0">
          <p>Controle de ingredientes no estoque</p>
          <button type="button" class="opa-btn opa-btn-primary" (click)="this.showModal()">Adicionar item</button>
        </div>
        <div class="opa-storage-table">
          <div class="table-responsive">
            <table class="opa-table-report opa-table opa-table-striped table-hover">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" class="order-checkbox">
                  </th>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Porções no estoque</th>
                  <th scope="col">Quantos produtos usam</th>
                  <th scope="col">Porção</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of typeIngredients | keyvalue">
                  <tr class="storage-type">
                    <td colspan="7">{{ item.key }}</td>
                  </tr>
                  <tr *ngFor="let ingredient of item.value">
                    <th scope="order-cell-checkbox">
                      <input type="checkbox" class="order-checkbox">
                    </th>
                    <td>{{ ingredient.id }}</td>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.amountInStock }}</td>
                    <td>{{ ingredient.productsCount }}</td>
                    <td>{{ ingredient.portionSize }} {{ ingredient.measurementUnit }}</td>
                    <td>{{ ingredient.amountInStock * ingredient.portionSize }} {{ ingredient.measurementUnit }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
