
<opa-ingredient-popup
(close)="this.showModal()"
*ngIf="this.ingredientModal"
(emitIngredient)="this.receiveIngredients($event)"
></opa-ingredient-popup>

<div class="container-fluid gx-0">
  <opa-yline routeNameToBeUsed="Estoque"></opa-yline>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="opa-graph-card">
            <div>
              <h3 class="text-center m-0 opa-graph-card-header">
                <strong>Título do card</strong>
                <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Informação sobre o card"></i>
              </h3>
              <p class="opa-graph-card-description">
                Descrição sobre o card
              </p>
            </div>
            <div class="opa-graph-card-legend">
              <div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 1</span>
                    <span>
                      <strong>70,00</strong>%
                    </span>
                  </span>
                </div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 2</span>
                    <span><strong>20,00</strong>%</span>
                  </span>
                </div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 3</span>
                    <span><strong>10,00</strong>%</span>
                  </span>
                </div>
              </div>
            </div>
            <canvas></canvas>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="opa-graph-card">
            <div>
              <h3 class="text-center m-0 opa-graph-card-header">
                <strong>Título do card</strong>
                <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Informação sobre o card"></i>
              </h3>
              <p class="opa-graph-card-description">
                Descrição sobre o card
              </p>
            </div>
            <div class="opa-graph-card-legend">
              <div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 1</span>
                    <span>
                      <strong>70,00</strong>%
                    </span>
                  </span>
                </div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 2</span>
                    <span><strong>20,00</strong>%</span>
                  </span>
                </div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 3</span>
                    <span><strong>10,00</strong>%</span>
                  </span>
                </div>
              </div>
            </div>
            <canvas></canvas>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="opa-graph-card">
            <div>
              <h3 class="text-center m-0 opa-graph-card-header">
                <strong>Título do card</strong>
                <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Informação sobre o card"></i>
              </h3>
              <p class="opa-graph-card-description">
                Descrição sobre o card
              </p>
            </div>
            <div class="opa-graph-card-legend">
              <div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 1</span>
                    <span>
                      <strong>70,00</strong>%
                    </span>
                  </span>
                </div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 2</span>
                    <span><strong>20,00</strong>%</span>
                  </span>
                </div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 3</span>
                    <span><strong>10,00</strong>%</span>
                  </span>
                </div>
              </div>
            </div>
            <canvas></canvas>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="opa-graph-card">
            <div>
              <h3 class="text-center m-0 opa-graph-card-header">
                <strong>Título do card</strong>
                <i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Informação sobre o card"></i>
              </h3>
              <p class="opa-graph-card-description">
                Descrição sobre o card
              </p>
            </div>
            <div class="opa-graph-card-legend">
              <div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 1</span>
                    <span>
                      <strong>70,00</strong>%
                    </span>
                  </span>
                </div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 2</span>
                    <span><strong>20,00</strong>%</span>
                  </span>
                </div>
                <div class="opa-graph-card-label">
                  <span class="opa-graph-card-border"></span>
                  <span class="opa-graph-card-content">
                    <span>Valor 3</span>
                    <span><strong>10,00</strong>%</span>
                  </span>
                </div>
              </div>
            </div>
            <canvas></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="opa-storage-list">
        <div class="opa-storage-list-header mb-0">
          <p>Controle de ingredientes no estoque</p>
          <button type="button" class="opa-btn opa-btn-primary" (click)="this.showModal()">Adicionar item</button>
        </div>
        <div class="opa-storage-table">
          <div class="table-responsive">
            <table class="opa-table-report opa-table opa-table-striped table-hover">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" class="order-checkbox">
                  </th>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Quantos produtos usam</th>
                  <th scope="col">Quantidade da unidade</th>
                  <th scope="col">Unidade de medida</th>
                </tr>
              </thead>
              <tbody>
                <tr class="storage-type">
                  <td colspan="7">Cereais</td>
                </tr>
                <tr>
                  <th scope="order-cell-checkbox">
                    <input type="checkbox" class="order-checkbox">
                  </th>
                  <td>1</td>
                  <td>Arroz parbolizado</td>
                  <td>10</td>
                  <td>4</td>
                  <td>200</td>
                  <td>G</td>
                </tr>
                <tr>
                  <th scope="order-cell-checkbox">
                    <input type="checkbox" class="order-checkbox">
                  </th>
                  <td>1</td>
                  <td>Arroz parbolizado</td>
                  <td>10</td>
                  <td>4</td>
                  <td>200</td>
                  <td>G</td>
                </tr>
                <tr>
                  <th scope="order-cell-checkbox">
                    <input type="checkbox" class="order-checkbox">
                  </th>
                  <td>1</td>
                  <td>Arroz parbolizado</td>
                  <td>10</td>
                  <td>4</td>
                  <td>200</td>
                  <td>G</td>
                </tr>
                <tr class="storage-type">
                  <td colspan="7">Carnes</td>
                </tr>
                <tr>
                  <th scope="order-cell-checkbox">
                    <input type="checkbox" class="order-checkbox">
                  </th>
                  <td>1</td>
                  <td>Frango</td>
                  <td>10</td>
                  <td>7</td>
                  <td>1</td>
                  <td>KG</td>
                </tr>
                <tr>
                  <th scope="order-cell-checkbox">
                    <input type="checkbox" class="order-checkbox">
                  </th>
                  <td>1</td>
                  <td>Boi</td>
                  <td>10</td>
                  <td>7</td>
                  <td>1</td>
                  <td>KG</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
