@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500');

.bar{
  width: 100%;
  height: 100%;
}

.topbar{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content{
  width: 98%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.profile-button{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-button:hover .button-content{
  width: 82%;
  height: 82%;
  transition: 0.15s;
}

.button-content{
  width: 80%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.text-side{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
}

.photo-side{
  width: 23%;
  height: 100%;
  background-color: #ffcf24;
  border-radius: 99999999px;
}

.user-name{
  width: 73%;
  height: 55%;
}

.user-name p{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight:800;
  color: #3f3f3f;
}

.user-role{
  width: 40%;
  height: 45%;
}

.user-role p{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.bottombar{
  width: 100%;
  height: 50%;
  background-color: #ffcf24;
  border-top: 2px solid #908f8f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area{
  height: 90%;
  width: 15%;

}

.area p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  font-weight: 500;
  color: #ffffff;
}

.buttons{
  width: 45%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.order-button{
  height: 90%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-button{
  height: 90%;
  width: 20%;
  background-color: transparent;
  border:none;
  font-weight: 300;
  color: white;
  font-size: 120%;
  cursor: pointer;
}

.options-button:hover{
  font-weight: 500;
  font-size: 123%;
}

.o-button{
  width: 70%;
  height: 80%;
  border: none;
  background-color: #F8E49E;
  border-radius: 10px;
  cursor: pointer;
}

.o-button:hover{
  width: 72%;
  height: 82%;
  border: 1px solid #956004;
  transition: 0.1s;
}

.o-button:hover p{
  font-size: 135%;
  color:#956004;
  transition: 0.1s;
}

.o-button p{
  margin: 0;
  font-size: 130%;
  font-weight: 500;
  color: #6E6E6B;
}

.opa-header {
  background: var(--white);
  border-bottom: 2px var(--secondary-color);
  clear: both;
}

/* .opa-header::before {
  display: table;
  content: " ";
} */

.opa-header > .opa-header-top {
  border-bottom: 1px solid var(--gray-medium);
  height: 65px;
  line-height: 65px;
}

.opa-logo {
  height: 40px;
  margin-top: 17px;
  position: absolute;
  width: 100px;
  cursor: pointer;
  background: url(../../../assets/images/Opa!.png);
  background-repeat: no-repeat;
}

.restaurant-name {
  text-align: center;
  color: var(--gray);
  text-decoration: none;
  font-size: 18px;
}

.user-menu {
	align-items: center;
	display: flex;
	line-height: 15px;
	position: absolute;
	right: calc(30px / 2);
	text-align: right;
	top: 9px;
  border-radius: 5px;
  border: 1px solid var(--gray-light);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  margin-right: 5px;
}

.user-menu-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 7px;
  min-width: 165px;
}

.user-menu-info p {
  margin: 0;
  color: var(--gray);
}

.user-menu-info span {
  margin: 0;
  font-weight: lighter;
  font-size: 14px;
  color: var(--gray-medium-dark);
  margin-left: 7px;
}

.user-menu-image {
  background: url(../../../assets/images/user-profile.png);
  background-repeat: no-repeat;
  width: 65px;
	height: 60px;
	top: -10px;
	right: -15px;
  position: absolute;
}

.dropdown-toggle-opa {
  background: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: var(--primary-color);
  font-size: 10px;
  position: relative;
  top:40px;
  right: 2px;
}

.dropdown-item {
  color: var(--gray);
  font-size: 14px;
  font-weight: lighter;
}

.dropdown-item:hover {
  background-color: var(--primary-color-lighter);
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: var(--gray-light);
  margin: 5px 0;
}

/* .container-fluid::before {
  display: table;
  content: " ";
} */
