@import '~@fortawesome/fontawesome-free/css/all.css';

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.whole {
  background-color: var(--primary-color-extra-light);
  min-height: 80px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 15px
}

.icon-container {
  background: var(--primary-color-light);
  padding: 8px;
  border-radius: 5px;
}

.icon-container i {
  color: var(--white);
  font-size: 26px;
}

.info-container p {
  margin: 0;
  line-height: 22px;
}

.restaurant-name {
  font-size: 16px;
  color: var(--gray-medium-dark);
  font-weight: lighter;
}

.route-name {
  font-size: 26px;
  font-weight: bold;
  color: var(--gray);
}
