<div class="whole">
  <div class="yellow-line">
    <opa-yline routeNameToBeUsed="Dashboard" iconPath="/assets/images/Cash.svg"></opa-yline>
  </div>
  <div class="component">
    <div class="filterbutton">
      <button class="filter">
        <p>
          Filtrar por período ▼
        </p>
      </button>
    </div>
    <div class="first-graph-box">
      <div class="topbar">
        <div class="topbar-icon">

        </div>
        <div class="topbar-text">
          <p>Faturamento</p>
        </div>
      </div>
      <div class="invoicingDashboard">
        
        <canvas #myCanvas id="graph1"></canvas>
      </div>
    </div>
    <div class="second-graph-box">
      <div class="top5products">
        <div class="topbar">
          <div class="topbar-icon">
  
          </div>
          <div class="topbar-text">
            <p>Top 5 produtos</p>
          </div>
        </div>
      </div>
      <div class="byage">
        <div class="topbar">
          <div class="topbar-icon">
  
          </div>
          <div class="topbar-text">
            <p>Por idade</p>
          </div>
        </div>
      </div>
      <div class="byregion">
        <div class="topbar">
          <div class="topbar-icon">
  
          </div>
          <div class="topbar-text">
            <p>Regiao</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
