<div class="whole">
  <div class="yellow-line">
    <opa-yline routeNameToBeUsed="Dashboard" iconPath="/assets/images/Cash.svg"></opa-yline>
  </div>
  <div class="component">
    <div class="filterbutton">
      <button class="filter">
        <p>
          Filtrar por período ▼
        </p>
      </button>
    </div>
    <div class="first-graph-box">
      <div class="topbar">
        <div class="topbar-icon">

        </div>
        <div class="topbar-text">
          <p>Faturamento</p>
        </div>
      </div>
    </div>
    <div class="second-graph-box">
      <div class="top5products">

      </div>
      <div class="byage">

      </div>
      <div class="byregion">

      </div>
    </div>
  </div>
</div>
