<div class="main" style="background-image: url('../../assets/images/Opa!-Web.svg')">
    <div class="register-div">
        <div class="image">
            <div class="img-main">
                <img id="img" src="../../assets/images/Image-Register.svg" class="img-perfil">
                <div class="file">
                    <input type="file" id="fileInput" class="input-img" style="display: none;">
                    <label for="fileInput" class="image-button">+</label>
                </div>
            </div>
        </div>
        <div class="form">
            <form [formGroup]="form">
                <div class="left-side">
                    <div class="left-side-content">
                        <p class="text">Nome:</p>
                        <input type="text" formControlName="name" class="box-info" placeholder="Insira seu nome" font-family="Poppins" />
                        <p class="text">Senha:</p>
                        <input type="password" name="password" class="box-info" placeholder="Insira sua senha"/>
                        <p class="text">Confirme sua senha:</p>
                        <input type="password" name="password" class="box-info" placeholder="Confirme sua senha"/>
                        <p class="text">Gênero:</p>
                        <select name="gender" id="gender-select" formControlName="gender">
                            <option value="00" disabled selected>Gênero:</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Nao_Binario">Não-Binário</option>
                            <option value="Outros">Outros</option>
                            <option value="nao_declarado">Prefiro não informar</option>
                        </select>
                        <p class="text">CPF:</p>
                        <input type="text" formControlName="cpf" class="box-info" placeholder="Digite seu CPF"/>
                        <p class="text">Data de nascimento:</p>
                        <input type="date" formControlName="birthDate" class="box-info"/>
                        <p class="text">Rua:</p>
                        <input type="text" formControlName="street" class="box-info" placeholder="Insira o sua rua"/>
                    </div>
                </div>
                <div class="right-side">
                    <div class="right-side-content">
                        <p class="text">Número:</p>
                        <input type="text" formControlName="streetNumber" class="box-info" placeholder="Insira o número"/>
                        <p class="text">Complemento:</p>
                        <input type="text" formControlName="complement" class="box-info" placeholder="Digite o bairro" font-family="Poppins" />
                        <p class="text">Cidade:</p>
                        <input type="text" formControlName="city" class="box-info" placeholder="Insira o CEP" font-family="Poppins"/>
                        <p class="text">Estado:</p>
                        <input type="text" formControlName="state" class="box-info" placeholder="Insira o complemento" font-family="Poppins"/>
                        <p class="text">CEP:</p>
                        <input type="text" formControlName="cep" class="box-info" placeholder="Insira a cidade" font-family="Poppins"/>
                        <p class="text">Telefone:</p>
                        <input type="text" formControlName="phoneNumber" class="box-info" placeholder="Insira o estado" font-family="Poppins"/>
                        <button class="register-btn">CADASTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>