<div class="row">
  <form class="col-md-12" [formGroup]="form" #formDir="ngForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        Sobre
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <label>Nome Completo</label>
            <input type="text" formControlName="name" class="input-item" placeholder="Insira seu nome" />
          </div>
          <div class="col-sm-6">
            <label>CPF</label>
            <input type="text" formControlName="cpf" class="input-item" placeholder="Digite seu CPF" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label>Gênero</label>
            <select class="input-item" name="gender" id="gender-select" formControlName="gender">
              <option value="0" disabled selected>Gênero:</option>
              <option value="1">Masculino</option>
              <option value="2">Feminino</option>
              <option value="3">Não-Binário</option>
              <option value="4">Outros</option>
              <option value="5">Prefiro não informar</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label>Data de nascimento</label>
            <input type="date" class="input-item" formControlName="birthDate" />
          </div>
          <div class="col-sm-6">
            <label>Telefone</label>
            <input type="tel" class="input-item" formControlName="phoneNumber" placeholder="Insira o telefone" />
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Endereço
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <label>CEP</label>
            <input type="text" class="input-item" [(ngModel)]="cep" (input)="searchForCep()" formControlName="cep"
              placeholder="Insira o cep" ngModel required pattern="[0-9]{5}\-?[0-9]{3}" />
          </div>
          <div class="col-sm-4">
            <label>Estado</label>
            <input type="text" class="input-item" [(ngModel)]="state" formControlName="state"
              placeholder="Insira o estado" />
          </div>
          <div class="col-sm-4">
            <label>Cidade</label>
            <input type="text" class="input-item" [(ngModel)]="city" formControlName="city"
              placeholder="Insira a cidade" />
          </div>
        </div>
        <div class="row">
          <div clas="col-sm-5"></div>
          <div clas="col-sm-5"></div>
          <div clas="col-sm-2"></div>
        </div>
        <div class="row"></div>
        <!-- cep estado cidade
bairro rua numero
complemento -->

      </div>
    </div>
  </form>
</div>
