<div class="main" style="background-image: url('../../assets/images/Opa!-Web.svg')">
    <div class="register-div">
        <div class="image">
            <div class="img-main">
                <img id="img" src="../../assets/images/Image-Register.svg" class="img-perfil">
                <div class="file">
                    <input type="file" id="fileInput" class="input-img" style="display: none;">
                    <label for="fileInput" class="image-button">+</label>
                </div>
            </div>
        </div>
        <div class="form">
            <form [formGroup]="form" (ngSubmit)="submit()" #formDir="ngForm">
                <div class="left-side">
                    <div class="left-side-content">
                        <p class="text">Nome Completo:</p>
                        <input type="text" formControlName="name" class="box-info" placeholder="Insira seu nome" font-family="Poppins" ngModel required minlength="2"/>
                        <div *ngIf="form.controls['name']?.invalid && form.controls['name']?.touched || form.controls['name']?.dirty">
                            <span class="message-error" *ngIf="form.controls['name']?.errors?.['required']">Este campo é obrigatório</span>
                            <span class="message-error" *ngIf="form.controls['name']?.errors?.['minlength']">Este campo deve ter, no mínimo, dois caracteres</span>
                        </div>
                        <p class="text">Email:</p>
                        <input type="email" formControlName="email" class="box-info" placeholder="Insira seu email" ngModel required pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$"/>
                        <div *ngIf="form.controls['email']?.invalid && form.controls['email']?.touched || form.controls['email']?.dirty">
                            <span class="message-error" *ngIf="form.get('email')?.errors?.['required']">Este campo é obrigatório!</span>
                            <span class="message-error" *ngIf="form.get('email')?.errors?.['pattern']">Ex: exemplo@exemplo.com</span>
                        </div>
                        <p class="text">Senha:</p>
                        <input type="password" formControlName="password" class="box-info" placeholder="Insira sua senha" ngModel required minlength="6"/>
                        <div *ngIf="form.controls['password']?.invalid && form.controls['password']?.touched || form.controls['password']?.dirty">
                            <span class="message-error" *ngIf="form.get('password')?.errors?.['required']">Este campo é obrigatório!</span>
                            <span class="message-error" *ngIf="form.get('password')?.errors?.['minlength']">Precisa de no mínimo 6 caracteres!</span>
                        </div>
                        <p class="text">Confirme sua senha:</p>
                        <input type="password" formControlName="password_confirm" class="box-info" placeholder="Confirme sua senha" required (ngModelChange)="matchPassword()"/>
                        <div *ngIf="form.controls['password_confirm']?.invalid && form.controls['password_confirm']?.touched || form.controls['password_confirm']?.dirty">
                            <span class="message-error" *ngIf="form.get('password_confirm')?.errors?.['required']">Este campo é obrigatório!</span>
                            <span class="message-error" *ngIf="erroSenha == true">As senhas não coincidem</span>
                        </div>
                        <p class="text">Gênero:</p>
                        <select name="gender" id="gender-select" formControlName="gender">
                            <option value="00" disabled selected>Gênero:</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Nao_Binario">Não-Binário</option>
                            <option value="Outros">Outros</option>
                            <option value="nao_declarado">Prefiro não informar</option>
                        </select>
                        <div *ngIf="form.controls['gender']?.invalid && form.controls['gender']?.touched || form.controls['gender']?.dirty">
                            <span class="message-error" *ngIf="form.get('gender')?.errors?.['required']">Este campo é obrigatório!</span>
                        </div>
                        <p class="text">CPF:</p>
                        <input type="text" formControlName="cpf" class="box-info" placeholder="Digite seu CPF" ngModel required pattern="[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}"/>
                        <div *ngIf="form.controls['cpf']?.invalid && form.controls['cpf']?.touched || form.controls['cpf']?.dirty">
                            <span class="message-error" *ngIf="form.get('cpf')?.errors?.['required']">Este campo é obrigatório!</span>
                            <span class="message-error" *ngIf="form.get('cpf')?.errors?.['pattern']">Ex: 000.000.000-00</span>
                        </div>
                        <p class="text">Data de nascimento:</p>
                        <input type="date" formControlName="birthDate" class="box-info"/>
                        <div class="message-error" *ngIf="form.get('birthDate')?.errors && form.get('birthDate')?.touched">
                            Este campo é obrigatório!
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="right-side-content">
                        <p class="text">CEP:</p>
                        <input type="text" [(ngModel)]="cep" (input)="searchForCep()" formControlName="cep" class="box-info" placeholder="Insira o cep" font-family="Poppins"/>
                        <div class="message-error" *ngIf="form.get('cep')?.errors && form.get('cep')?.touched">
                            Este campo é obrigatório!
                        </div>
                        <p class="text">Estado:</p>
                        <input type="text" [(ngModel)]="state"  formControlName="state" class="box-info" placeholder="Insira o estado" font-family="Poppins"/>
                        <div class="message-error" *ngIf="form.get('state')?.errors && form.get('state')?.touched">
                            Este campo é obrigatório!
                        </div>
                        <p class="text">Cidade:</p>
                        <input type="text" [(ngModel)]="city"  formControlName="city" class="box-info" placeholder="Insira a cidade" font-family="Poppins"/>
                        <div class="message-error" *ngIf="form.get('city')?.errors && form.get('city')?.touched">
                            Este campo é obrigatório!
                        </div>
                        <p class="text">Rua:</p>
                        <input type="text" [(ngModel)]="street"  formControlName="street" class="box-info" placeholder="Insira o sua rua"/>
                        <div class="message-error" *ngIf="form.get('street')?.errors && form.get('street')?.touched">
                            Este campo é obrigatório!
                        </div>
                        <p class="text">Número:</p>
                        <input type="text" formControlName="streetNumber" class="box-info" placeholder="Insira o número"/>
                        <div class="message-error" *ngIf="form.get('streetNumber')?.errors && form.get('streetNumber')?.touched">
                            Este campo é obrigatório!
                        </div>
                        <p class="text">Complemento:</p>
                        <input type="text" formControlName="complement" class="box-info" placeholder="Insira o complemento" font-family="Poppins" />
                        <div class="message-error" *ngIf="form.get('complement')?.errors && form.get('complement')?.touched">
                            Este campo é obrigatório!
                        </div>
                        <p class="text">Telefone:</p>
                        <input type="tel" formControlName="phoneNumber" class="box-info" placeholder="Insira o telefone" font-family="Poppins" ngModel required pattern="(\(?\d{2}\)?\s?)(\d{5}\-?\d{4})"/>
                        <div *ngIf="form.controls['phoneNumber']?.invalid && form.controls['phoneNumber']?.touched || form.controls['phoneNumber']?.dirty">
                            <span class="message-error" *ngIf="form.get('phoneNumber')?.errors?.['required']">Este campo é obrigatório!</span>
                            <span class="message-error" *ngIf="form.get('phoneNumber')?.errors?.['pattern']">Ex: (85)98888-9999</span>
                        </div>
                    </div>
                </div>
                <div class="button-submit">
                    <button class="register-btn" (click)="submit()" routerLink="/login" [disabled]="!form.valid">CADASTRAR</button>
                </div>
            </form>
        </div>
    </div>
</div>