<div class="main" style="background-image: url('../../assets/images/Opa!-Web.svg')">
    <div class="login-div">
        <div class="container">
            <h1 class="logo">Opa!</h1>
            <div class="inputs">
                <p class="text">E-mail:</p>
                <input type="email" name="email" class="box-info" placeholder="Insira seu e-mail" font-family="Poppins"/>
                <p class="text">Senha:</p>
                <input type="password" name="password" class="box-info" placeholder="Insira sua senha"/>
                <input type="button"  class="login" value="LOGIN"/>
                <div class="line"></div>
                <button class="register" routerLink="/register">CRIAR CONTA</button>
            </div>
        </div>
    </div>
</div>
