@import '../../opa-styles/opa-components.css';

.main {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-div {
  min-width: 40%;
  height: 60%;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.logo {
  height: 25%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.logo p {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sansita', sans-serif;
  color: #5A5A5A;
  font-size: 900%;
  text-shadow: 0px 7px 0px var(--primary-color);
  font-style: italic;
}

.login {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  letter-spacing: 1vh;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}

.login:hover {
  outline: 1px solid var(--secondary-color);
  background-color: var(--primary-color-light-darker);
  border-color: var(--secondary-color-light-darker);
}

.login:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  background-color: var(--primary-color-light-darker);
  border-color: var(--secondary-color-light-darker);
  background-image: none;
}

.login:focus {
  background-color: var(--primary-color-light-darker);
  border-color: var(--secondary-color-light-darker);
}

.register {
  border: 1px solid var(--secondary-color-light-darker);
  color: var(--secondary-color-light-darker);
  background-color: var(--white);
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1vh;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}

.register:hover {
  color: var(--secondary-color-light-darker);
  background-color: var(--gray-medium);
  border-color: var(--secondary-color-light-darker);
}

.register:active {
  color: var(--secondary-color-light-darker);
  background-color: var(--gray-medium);
  border-color: var(--secondary-color-light-darker);
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.line {
  width: 100%;
  height: 0.01vh;
  background-color: var(--gray-medium);
}

.login-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  max-width: 75%;
}

.operations-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
}
