<ng-template #launchOrder>
  <div class="modal-header opa-modal-header">
    <div class="opa-modal-header-title">
      <h4 class="modal-title opa-modal-title" id="modal-basic-title">Lançar pedidos
      </h4>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="this.form">
      <div class="opa-input-group">
        <label>Produto</label>
        <ng-select formControlName="productName" [items]="menu" bindLabel="name" bindValue="id" [clearable]="false"
          placeholder="-- Selecione o produto --" [clearSearchOnAdd]="true" class="opa-select-2">
        </ng-select>
      </div>
      <div class="orders-form">
        <div class="orders-form-container">
          <div class="opa-input-group">
            <label>Mesa</label>
            <ng-select [items]="tablesAvailables" bindLabel="id" bindValue="id" [clearable]="false"
              formControlName="tableId" (change)="updateTable($event)" placeholder="-- Selecione a mesa --"
              [clearSearchOnAdd]="true" class="opa-select-2">
              <ng-template ng-option-tmp let-item="item">
                <span class="">Mesa {{item.id}}</span>
              </ng-template>
            </ng-select>
          </div>
          <div class="opa-input-group">
            <label>Status do pedido</label>
            <ng-select [items]="orderStatus" bindLabel="name" bindValue="id" [clearable]="false"
              formControlName="status" placeholder="-- Selecione o status --" [clearSearchOnAdd]="true"
              class="opa-select-2">
            </ng-select>
          </div>
        </div>
        <div class="orders-form-container">
          <div class="opa-input-group">
            <label>Clientes</label>
            <ng-select [items]="selectedCustomers" bindLabel="name" bindValue="id"
              placeholder="-- Selecione os clientes --" formControlName="customersList" [hideSelected]="true"
              [multiple]="true" [closeOnSelect]="false" [clearSearchOnAdd]="true"
              (add)="addCustomerToOrderTable($event)" (remove)="removeCustomerToOrderTable($event)"
              class="opa-select-2">
              <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <div class="opa-value-container">
                  <span class="">{{item.name}}</span>
                  <span class="value-close-button" (click)="clear(item)" aria-hidden="true">x</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="opa-input-group">
            <label>Quantidade</label>
            <input type="number" (keypress)="numberOnly($event)" min="1" max="9" class="input-item"
              formControlName="qt">
          </div>
        </div>
      </div>
    </form>
    <div (click)="addOrder()" class="opa-add-button text-align-center">
      <i class="fa-solid fa-square-plus"></i>
    </div>
    <div class="orders-table-container">
      <table class="opa-table-report opa-table opa-table-striped table-hover">
        <thead>
          <tr>
            <th>
              <input type="checkbox" class="order-checkbox" [(ngModel)]="this.allCheckboxChecked"
                (click)="allChecked()">
            </th>
            <th scope="col">Pedido</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Mesa</th>
            <th scope="col">Clientes</th>
            <th scope="col">Valor Total</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of this.orderList;let i = index">
            <th scope="order-cell-checkbox">
              <input type="checkbox" class="order-checkbox" [(ngModel)]="this.order.checked" (click)="checkOrder(i)">
            </th>
            <td>{{ order.menuItem.name }}</td>
            <td>{{ order.quantity }} x</td>
            <td>{{ order.tableId }}</td>
            <td>{{ order.formattedNames }}</td>
            <td>R$ {{ order.totalValue.toFixed(2).replace('.', ',') }}</td>
            <td>
              <span *ngIf="this.order.status == 1" class="badge opa-badge opa-badge-warning">Em andamento</span>
              <span *ngIf="this.order.status == 2" class="badge opa-badge opa-badge-success">Entregue</span>
              <span *ngIf="this.order.status == 3" class="badge opa-badge opa-badge-danger">Cancelado</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="this.removeOrderFromTable()">Remover
      pedidos</button>
    <button type="button" class="btn btn-secondary" (click)="this.closePopUp()">Fechar</button>
    <button type="button" class="btn btn-primary" (click)="this.submitForm()">Salvar</button>
  </div>
</ng-template>
