@import '../../../opa-styles/opa-components.css';


.opa-select-multiple {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
  margin-bottom: 15px;
  padding: 6px 12px;
  line-height: 1.6;
  font-size: 16px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}

.opa-select-multiple:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(149,96,4,.2);
}

.orders-form {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 20px
}

.orders-form-container {
  flex: 1;
}

.orders-table-container {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  margin-top: 15px;
}

.opa-modal-footer {
  justify-content: normal;
}

.modal-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}





.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-modal{
  width: 75%;
  height: 90%;
  border-radius: 5px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loading-modal opa-loading{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.main-container{
  width: 75%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container-header{
  width: 100%;
  height: 12%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-header p {
  width: 93%;
  height: 100%;
  margin: 0;
  font-family: Poppins;
  font-size: 4vh;
  display: flex;
  align-items: center;
  font-weight: 800;
  color: #505050;
}

.main-container-content{
  width: 95%;
  height: 76%;
  display: flex;
  flex-direction: column;
}

.topside-container{
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
}

.topside-container-form{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.topside-container-left{
  width: 50%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.order-name{
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-name p{
  margin: 0;
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.order-name select{
  width: 90%;
  height: 50%;
  text-align: center;
  font-size: 2vh;
  font-family: Poppins;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  color:#525252;
}

.order-table{
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-table p {
  margin: 0;
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.order-table select {
  width: 90%;
  height: 50%;
  text-align: center;
  font-size: 2vh;
  font-family: Poppins;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  color:#525252;
}

.order-clients{
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-clients p{
  margin: 0;
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.order-clients select{
  width: 90%;
  height: 50%;
  text-align: center;
  font-size: 2vh;
  font-family: Poppins;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  color:#525252;
}

.topside-division{
  width: 1px;
  height: 85%;
  background-color: #a5a5a5;
}

.topside-container-right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.order-quantity{
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-quantity p{
  margin: 0;
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.order-quantity input{
  font-size: 1.9vh;
  width: 90%;
  height: 50%;
  margin: 0;
  padding: 0;
  border: 1px solid #CED4DA;
  border-radius: 4px ;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
  padding: 1%;
  font-family: 'Poppins', sans-serif;
  color: #818181;
  letter-spacing: 0.5px;
  font-weight: 300;
  appearance: textfield;
}

.order-responsable-waiter{
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-responsable-waiter p{
  margin: 0;
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.order-responsable-waiter select{
  width: 90%;
  height: 50%;
  text-align: center;
  font-size: 2vh;
  font-family: Poppins;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  color:#525252;
}

.order-status{
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-status p{
  margin: 0;
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.order-status select{
  width: 90%;
  height: 50%;
  text-align: center;
  font-size: 2vh;
  font-family: Poppins;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  color:#525252;
}

.topside-container-bottom{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topside-container-bottom button{
  width: 5%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFCF24;
  background-color: #FFC107;
  border-radius: 4px;
  cursor: pointer;
}

.topside-container-bottom button:hover{
  width: 6%;
  height: 91%;
  transition: 0.1s;
  border: 2px solid #956004;
}

.topside-container-bottom button:hover img{
  width: 53%;
  height: 53%;
}

.topside-container-bottom img{
  width: 50%;
  height: 50%;
}

.container-division{
  width: 100%;
  height: 1px;
  background-color: #6e6e6e;
}

.botside-container{
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botside-content{
  width: 95%;
  height: 98%;
}

.botside-header{
  width: 100%;
  height: 15%;
  display: flex;
  border-bottom: 1.5px solid #212529;
}


.botside-header-checkbox{
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-checkbox{
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 4px;
}

.order-checkbox:checked{
  background-image: url('/assets/images/checkbox-marked.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.header-order-text{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
}

.header-order-text p{
  margin: 0;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.header-qt-text{
  height: 100%;
  width: 10%;
}

.header-qt-text p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.header-table-text{
  width: 10%;
  height: 100%;
}

.header-table-text p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.header-clients-text{
  height: 100%;
  width: 10%;
}

.header-clients-text p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.header-value-text{
  height: 100%;
  width: 10%;
}

.header-value-text p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.header-status{
  height: 100%;
  width: 15%;
  display: flex;
}

.header-status p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 500;
}

.header-trashicon{
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-trashicon button{
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-trashicon img {
  width: 100%;
  height: 100%;
}

.header-trashicon button:hover img{
  filter: invert(18%) sepia(90%) saturate(4668%) hue-rotate(355deg) brightness(93%) contrast(98%);
}

.loop-space-orders{
  width: 100%;
  height: 85%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-cell{
  width: 100%;
  height: 3vh;
  display: flex;
  border-bottom: 1px solid #9b9b9b;
}

.order-cell-checkbox{
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-cell-checkbox .order-checkbox{
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 4px;
}

.order-cell-checkbox .order-checkbox:checked{
  background-image: url('/assets/images/checkbox-marked.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.order-cell-order-text{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
}

.order-cell-order-text p{
  margin: 0;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 300;
}

.order-cell-qt-text{
  height: 100%;
  width: 10%;
}

.order-cell-qt-text p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 300;
}

.order-cell-table-text{
  width: 10%;
  height: 100%;
}

.order-cell-table-text p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 300;
}


.order-cell-clients-text{
  height: 100%;
  width: 10%;
}

.order-cell-clients-text p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 300;
}

.order-cell-value-text{
  height: 100%;
  width: 10%;
}

.order-cell-value-text p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 2vh;
  font-weight: 300;
}

.order-cell-status{
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
}

.status-inprogress{
  margin:0;
  width: 100%;
  height: 90%;
  color: white;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgb(209, 209, 2);
  display: flex;
  justify-content: center;
  align-items: center
}

.status-delivered{
  margin:0;
  width: 100%;
  height: 90%;
  color: white;
  font-family: Poppins;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(2, 209, 106);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.status-canceled{
  margin:0;
  width: 100%;
  height: 90%;
  color: white;
  font-family: Poppins;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(209, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.order-cell-trashicon{
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-cell-trashicon button{
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.order-cell-trashicon img {
  width: 100%;
  height: 100%;
}

.order-cell-trashicon button:hover img{
  filter: invert(18%) sepia(90%) saturate(4668%) hue-rotate(355deg) brightness(93%) contrast(98%);
}

.main-container-footer{
  width: 100%;
  height: 12%;
  border-top: 1px solid #cccccc ;
  display: flex;
  justify-content: flex-end;
}

.container-footer-buttons{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-footer-close-button{
  width: 35%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-footer-close-button button{
  width: 80%;
  height: 90%;
  background-color: transparent;
  border: 1px solid #956004;
  border-radius: 5px;
  font-size: 2vh;
  font-family: Poppins;
  font-weight: 400;
  color: #956004;
  letter-spacing: 0.7px;
}

.container-footer-close-button button:hover{
  width: 82%;
  height: 95%;
  border: 2px solid #956004;
  font-size: 2.1vh;
  font-weight: 600;
  transition: 0.1s;
}

.container-footer-submit-button{
  width: 35%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-footer-submit-button button{
  width: 80%;
  height: 90%;
  background-color: #ffcf24;
  border: 1px solid #956004;
  border-radius: 5px;
  font-size: 2vh;
  font-family: Poppins;
  font-weight: 400;
  color: #956004;
  letter-spacing: 0.7px;
}

.container-footer-submit-button button:hover{
  width: 82%;
  height: 95%;
  border: 2px solid #956004;
  font-size: 2.1vh;
  font-weight: 600;
  transition: 0.1s;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
