<div class="containe-fluid">
  <opa-yline routeNameToBeUsed="Pedidos" iconPath="/assets/images/order.svg"></opa-yline>
  <div class="container-fluid">
    <div class="text-end">
      <div class="opa-btn opa-btn-primary" (click)="this.showLaunchOrderModal()">
        Lançar pedido
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default mb-4">
          <div class="panel-heading panel-heading-default">
            Fila de pedidos
          </div>
          <div class="panel-body panel-body-fix-height">
            <div ngbAccordion #accordion="ngbAccordion" class="mb-2" *ngFor="let order of this.inProgressOrderList">
              <div ngbAccordionItem [collapsed]="true">
                <div ngbAccordionHeader class="accordion-button custom-header">
                  <div ngbAccordionToggle class="p-0 container-fluid text-start ps-0 opa-accordion-toggle">
                    <div class="opa-accordion-header-container">
                      <div class="opa-accordion-header-icon">
                        <i class="fa-solid fa-bowl-food"></i>
                      </div>
                      <div class="opa-accordion-header-title">
                        {{ order.menuItem.name }}
                      </div>
                      <div class="vertical-line"></div>
                      <div class="order-table">
                        Mesa {{ order.table.id }}
                      </div>
                      <div class="vertical-line"></div>
                      <div class="order-status">
                        <span *ngIf="order.status == 1" class="badge opa-badge opa-badge-warning">Em andamento</span>
                        <span *ngIf="order.status == 2" class="badge opa-badge opa-badge-success">Entregue</span>
                        <span *ngIf="order.status == 3" class="badge opa-badge opa-badge-danger">Cancelado</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="opa-accordion-body">
                    <ng-template>
                      <div class="row mb-3">
                        <div class="col-12">
                          status do pedido:
                          <span *ngIf="order.status == 1" class="badge opa-badge opa-badge-warning">Em andamento</span>
                          <span *ngIf="order.status == 2" class="badge opa-badge opa-badge-success">Entregue</span>
                          <span *ngIf="order.status == 3" class="badge opa-badge opa-badge-danger">Cancelado</span>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12">
                          Mesa: {{ order.table.id }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12">
                          cliente(s): {{ order.customersName }}
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-4">
                          pedido feito às <strong>{{ order.orderedTime }}</strong>
                        </div>
                        <div class="col-4 order-responsible-container text-center">
                          responsável:
                          <strong>{{ order.table.waiter }}</strong>
                          <div class="avatar-container">
                            <i class="fa-solid fa-user-tie"></i>
                          </div>
                        </div>
                        <div class="col-4 text-end">
                          <p class="m-0" *ngIf="order.deliveredTime != 'Não entregue'">*pedido entregue às<strong
                              *ngIf="order.deliveredTime">{{ order.deliveredTime
                              }}</strong></p>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default mb-4">
          <div class="panel-heading panel-heading-default">
            Mesas em andamento
          </div>
          <div class="panel-body panel-body-fix-height">
            <div ngbAccordion #accordion="ngbAccordion" class="mb-2" *ngFor="let table of this.inProgressTables">
              <div ngbAccordionItem [collapsed]="true">
                <div ngbAccordionHeader class="accordion-button custom-header">
                  <div ngbAccordionToggle class="p-0 container-fluid text-start ps-0 opa-accordion-toggle">
                    <div class="opa-accordion-header-container">
                      <div class="opa-accordion-header-icon">
                        <i class="fa-solid fa-receipt"></i>
                      </div>
                      <div class="opa-accordion-header-title">
                        Mesa {{ table.table.id }}
                      </div>
                      <div class="table-open-modal" (click)="this.showOrderModal(table);">
                        Ver mais
                      </div>
                    </div>
                  </div>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="opa-accordion-body">
                    <ng-template>
                      <div class="table-orders-info mb-2" *ngFor="let order of table.orders">
                        <div class="table-order-title">
                          {{ order.name }}
                        </div>
                        <hr class="link-line">
                        <div class="table-order-status text-end">
                          <span *ngIf="order.status == 1" class="badge opa-badge opa-badge-warning">Em andamento</span>
                          <span *ngIf="order.status == 2" class="badge opa-badge opa-badge-success">Entregue</span>
                          <span *ngIf="order.status == 3" class="badge opa-badge opa-badge-danger">Cancelado</span>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<opa-launch-order-modal *ngIf="this.launchOrderModal" (emitOrders)="receiveOrdersFromModal($event)"
  (close)="this.showLaunchOrderModal()"></opa-launch-order-modal>

<opa-order-modal *ngIf="this.orderModal" [table]="this.tableToOrderModal"
  (close)="this.showOrderModal()"></opa-order-modal>
