<div class="containe-fluid">
  <opa-yline routeNameToBeUsed="Pedidos" iconPath="/assets/images/order.svg"></opa-yline>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default mb-4">
          <div class="panel-heading panel-heading-default">
            Fila de pedidos
          </div>
          <div class="panel-body panel-body-fix-height">
            <div ngbAccordion #accordion="ngbAccordion" class="mb-2" *ngFor="let order of this.inProgressOrderList">
              <div ngbAccordionItem [collapsed]="true">
                <div ngbAccordionHeader class="accordion-button custom-header">
                  <div ngbAccordionToggle class="p-0 container-fluid text-start ps-0 opa-accordion-toggle">
                    <div class="opa-accordion-header-container">
                      <div class="opa-accordion-header-icon">
                        <i class="fa-solid fa-bowl-food"></i>
                      </div>
                      <div class="opa-accordion-header-title">
                        {{ order.menuItem.name }}
                      </div>
                      <div class="vertical-line"></div>
                      <div class="order-table">
                        Mesa {{ order.table.id }}
                      </div>
                      <div class="vertical-line"></div>
                      <div class="order-status">
                        <span *ngIf="order.status == 1" class="badge opa-badge opa-badge-warning">Em andamento</span>
                        <span *ngIf="order.status == 2" class="badge opa-badge opa-badge-success">Entregue</span>
                        <span *ngIf="order.status == 3" class="badge opa-badge opa-badge-danger">Cancelado</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="opa-accordion-body">
                    <ng-template>
                      <div class="row mb-3">
                        <div class="col-12">
                          status do pedido:
                          <span *ngIf="order.status == 1" class="badge opa-badge opa-badge-warning">Em andamento</span>
                          <span *ngIf="order.status == 2" class="badge opa-badge opa-badge-success">Entregue</span>
                          <span *ngIf="order.status == 3" class="badge opa-badge opa-badge-danger">Cancelado</span>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12">
                          Mesa: {{ order.table.id }}
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12">
                          cliente(s): {{ order.customersName }}
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-4">
                          pedido feito às <strong>{{ order.orderedTime }}</strong>
                        </div>
                        <div class="col-4 order-responsible-container text-center">
                          responsável:
                          <strong>{{ order.table.waiter }}</strong>
                          <div class="avatar-container">
                            <i class="fa-solid fa-user-tie"></i>
                          </div>
                        </div>
                        <div class="col-4 text-end">
                          <p class="m-0" *ngIf="order.deliveredTime != 'Não entregue'">*pedido entregue às<strong
                              *ngIf="order.deliveredTime">{{ order.deliveredTime
                              }}</strong></p>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default mb-4">
          <div class="panel-heading panel-heading-default">
            Mesas em andamento
          </div>
          <div class="panel-body panel-body-fix-height">
            <div ngbAccordion #accordion="ngbAccordion" class="mb-2" *ngFor="let table of this.inProgressTables">
              <div ngbAccordionItem [collapsed]="true">
                <div ngbAccordionHeader class="accordion-button custom-header">
                  <div ngbAccordionToggle class="p-0 container-fluid text-start ps-0 opa-accordion-toggle">
                    <div class="opa-accordion-header-container">
                      <div class="opa-accordion-header-icon">
                        <i class="fa-solid fa-receipt"></i>
                      </div>
                      <div class="opa-accordion-header-title">
                        Mesa {{ table.table.id }}
                      </div>
                      <div class="table-open-modal" (click)="open(content)">
                        Ver mais
                      </div>
                    </div>
                  </div>
                </div>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="opa-accordion-body">
                    <ng-template>
                      <div class="table-orders-info mb-2" *ngFor="let order of table.orders">
                        <div class="table-order-title">
                          {{ order.name }}
                        </div>
                        <hr class="link-line">
                        <div class="table-order-status text-end">
                          <span *ngIf="order.status == 1" class="badge opa-badge opa-badge-warning">Em andamento</span>
                          <span *ngIf="order.status == 2" class="badge opa-badge opa-badge-success">Entregue</span>
                          <span *ngIf="order.status == 3" class="badge opa-badge opa-badge-danger">Cancelado</span>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- MODAL TA AQUI CAUE -->
<ng-template #content let-modal>
  <div class="modal-header opa-modal-header">
    <div class="opa-modal-header-title">
      <h4 class="modal-title opa-modal-title" id="modal-basic-title">Histórico da mesa 31</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="opa-modal-header-info">
      <div>
        Mesa aberta às: <strong>19:25</strong>
      </div>
      <div class="order-responsible-container">
        Garçom responsável: <strong>Jorgin amado</strong>
        <div class="avatar-container">
          <i class="fa-solid fa-user-tie"></i>
        </div>
      </div>
      <div>
        Token da mesa: <strong>asd1263a</strong>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="detailed-table-order-info info-danger mb-2">
      <div class="product-photo">
        <img src="../../../assets/images/default-food-image.jpg" alt="">
      </div>
      <div class="product-description">
        <div>
          Nome do produto: <strong>Catinhas de paranguejo</strong>
        </div>
        <div>
          Preço: <strong>Catinhas de paranguejo</strong>
        </div>
      </div>
      <hr class="link-line">
      <div class="product-delivered-info">
        <div>
          <span class="badge opa-badge opa-badge-danger">Cancelado</span>
        </div>
        <div>
          Pedido feito às: <strong>18:00</strong>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!-- <div class="main-container">
  <div class="main-container-header">
    <p class="header-title">Histórico da mesa {{ this.tableDetailed.table.id }} </p>
    <div class="header-description">
      <p>Mesa aberta as: <strong>{{ this.tableDetailed.table.openTime }}</strong> </p>
      <p>Garçom responsável: <strong>{{ this.tableDetailed.table.waiter }}</strong></p>
      <p>Token da mesa: <strong>{{ this.tableDetailed.table.token }}</strong></p>
    </div>
  </div>
  <div class="container-content">
    <div class="table-loop-cell" *ngFor="let order of this.tableDetailed.orders">
      <div class="table-loop-product-img">
        <img src="/assets/images/opa-logo-white.svg" alt="">
      </div>
      <div class="table-loop-product-descript">
        <div class="table-loop-product-descript-top">
          <div class="table-loop-product-order-name">
            <p class="text">Nome do Produto:</p>
            <p class="value">{{ order.menuItem.name }}</p>
          </div>
          <div class="table-loop-product-order-value">
            <p class="text">Preço do Produto: </p>
            <p class="value">{{ order.menuItem.value }}</p>
          </div>
          <div class="table-loop-product-order-qt">
            <p class="text">Quantidade pedida: </p>
            <p class="value"> {{ order.quantity }}</p>
          </div>
        </div>
        <div class="table-loop-product-descript-bot">
          <div class="table-loop-product-order-time">
            <p class="text">Horário do pedido efetuado: </p>
            <p class="value">{{ order.orderedTime }}</p>
          </div>
          <div class="table-loop-product-order-status">
            <p class="text">Status do pedido:</p>
            <div class="value">
              <p *ngIf="this.order.status == 1" class="status-inprogress">em andamento</p>
              <p *ngIf="this.order.status == 2" class="status-delivered">entregue</p>
              <p *ngIf="this.order.status == 3" class="status-canceled">cancelado</p>
            </div>
          </div>
          <div class="table-loop-product-order-delivered">
            <p class="text">Horário de conclusão do pedido: </p>
            <p class="value">{{ order.deliveredTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-footer">
    <div class="container-footer-close-button">
      <button (click)="closeModal()">
        Fechar
      </button>
    </div>
  </div>
  <div class="main-container-header">
    <p class="header-title">Histórico da mesa {{ this.tableDetailed.table.id }} </p>
    <div class="header-description">
      <p>Mesa aberta as: <strong>{{ this.tableDetailed.table.openTime }}</strong> </p>
      <p>Garçom responsável: <strong>{{ this.tableDetailed.table.waiter }}</strong></p>
      <p>Token da mesa: <strong>{{ this.tableDetailed.table.token }}</strong></p>
    </div>
  </div>
  <div class="container-content">
    <div class="table-loop-cell" *ngFor="let order of this.tableDetailed.orders">
      <div class="table-loop-product-img">
        <img src="/assets/images/opa-logo-white.svg" alt="">
      </div>
      <div class="table-loop-product-descript">
        <div class="table-loop-product-descript-top">
          <div class="table-loop-product-order-name">
            <p class="text">Nome do Produto:</p>
            <p class="value">{{ order.menuItem.name }}</p>
          </div>
          <div class="table-loop-product-order-value">
            <p class="text">Preço do Produto: </p>
            <p class="value">{{ order.menuItem.value }}</p>
          </div>
          <div class="table-loop-product-order-qt">
            <p class="text">Quantidade pedida: </p>
            <p class="value"> {{ order.quantity }}</p>
          </div>
        </div>
        <div class="table-loop-product-descript-bot">
          <div class="table-loop-product-order-time">
            <p class="text">Horário do pedido efetuado: </p>
            <p class="value">{{ order.orderedTime }}</p>
          </div>
          <div class="table-loop-product-order-status">
            <p class="text">Status do pedido:</p>
            <div class="value">
              <p *ngIf="this.order.status == 1" class="status-inprogress">em andamento</p>
              <p *ngIf="this.order.status == 2" class="status-delivered">entregue</p>
              <p *ngIf="this.order.status == 3" class="status-canceled">cancelado</p>
            </div>
          </div>
          <div class="table-loop-product-order-delivered">
            <p class="text">Horário de conclusão do pedido: </p>
            <p class="value">{{ order.deliveredTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-footer">
    <div class="container-footer-close-button">
      <button (click)="closeModal()">
        Fechar
      </button>
    </div>
  </div> -->
