@import '../../../opa-styles/opa-components.css';

.custom-header {
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0,0,0,.100);
}

.custom-header::after {
  content: none;
}

.opa-accordion-toggle {
  color: var(--gray);
}

.opa-accordion-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-darker);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: var(--gray-darker);
}

.opa-accordion-header-title {
  flex: 1;
}

.panel-body-fix-height {
  height: 606px;
  overflow: scroll;
}

.order-status {
  flex: 0 0 120px;
  text-align: center;
}

.order-table {
  flex: 0 0 100px;
  text-align: center;
}

.opa-accordion-header-icon {
  flex: 0 0 40px;
}

.opa-accordion-header-icon i {
  font-size: 26px;
  color: var(--secondary-color);
  margin-right: 20px;
}

.vertical-line {
  border-left: 1px solid var(--gray-medium);
  height: 30px;
  margin: 0 10px;
}

.opa-accordion-body {
  background-color: var(--gray-extra-lighter);
  font-size: 16px;
  font-weight: lighter;
  max-height: 200px;
  overflow-y: auto;
}

.order-responsible-container {
  display: flex;
  gap: 7px;
  align-items: center;
}

.order-responsible-container strong {
  font-weight: 600;
}

.avatar-container {
  background: var(--primary-color-light-darker);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
}

.avatar-container i {
  color: var(--white);
  font-size: 16px;
  margin: 0;
}

.order-delivered {
  display: flex;
  align-items: end;
  gap: 5px;
}

.table-orders-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.table-order-title {
  flex: 0 0 auto;
}

.link-line {
  flex: 1;
}

.table-order-status {
  flex: 0, 0, auto;
}

.table-open-modal {
  cursor: pointer;
}

.table-open-modal::after {
  content: "+";
  color: var(--primary-color-light-darker);
  font-size: 20px;
  font-weight: bolder;
}
