.custom-header {
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0,0,0,.100);
}

.custom-header::after {
  content: none;
}

.opa-accordion-toggle {
  color: var(--gray);
}

.opa-accordion-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-darker);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: var(--gray-darker);
}

.opa-accordion-header-title {
  flex: 1;
}

.panel-body-fix-height {
  height: 606px;
  overflow: scroll;
}

.order-status {
  flex: 0 0 50px;
  text-align: center;
}

.order-table {
  flex: 0 0 100px;
  text-align: center;
}

.opa-accordion-header-icon {
  flex: 0 0 40px;
}

.opa-accordion-header-icon i {
  font-size: 26px;
  color: var(--secondary-color);
  margin-right: 20px;
}

.vertical-line {
  border-left: 1px solid var(--gray-medium);
  height: 30px;
  margin: 0 10px;
}

.opa-accordion-body {
  background-color: var(--gray-extra-lighter);
  font-size: 16px;
  font-weight: lighter;
  max-height: 200px;
  overflow-y: auto;
}

.opa-badge {
  --bs-badge-font-size: 14px;
  --bs-badge-font-weight: 500;
  --bs-badge-color: var(--white);
}

.opa-badge.opa-badge-success {
  background-color: var(--bs-success);
}

.opa-badge.opa-badge-warning {
  background-color: var(--warning-dark);
}

.opa-badge.opa-badge-danger {
  background-color: var(--danger-dark);
}

.order-responsible-container {
  display: flex;
  gap: 7px;
  align-items: center;
}

.order-responsible-container strong {
  font-weight: 600;
}

.avatar-container {
  background: var(--primary-color-light-darker);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
}

.avatar-container i {
  color: var(--white);
  font-size: 16px;
  margin: 0;
}

.order-delivered {
  display: flex;
  align-items: end;
  gap: 5px;
}

.table-orders-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.table-order-title {
  flex: 0 0 auto;
}

.link-line {
  flex: 1;
}

.table-order-status {
  flex: 0, 0, auto;
}

.table-open-modal {
  cursor: pointer;
}

.table-open-modal::after {
  content: "+";
  color: var(--primary-color-light-darker);
  font-size: 20px;
  font-weight: bolder;
}

.opa-modal-header {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.opa-modal-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opa-modal-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--gray-darker);
}

.opa-modal-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: lighter;
  color: var(--gray);
}

.opa-modal-header-info strong {
  color: var(--gray-darker);
}

.detailed-table-order-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  border: 2px solid var(--gray-medium);
  padding: 5px 15px;
  height: 100px;
  gap: 20px;
  font-weight: lighter;
  color: var(--gray);
}

.detailed-table-order-info strong {
  color: var(--gray-darker);
}

.product-photo img {
  width: 65px;
  flex: 0 0 80px;
  border-radius: 10px;
}

.product-description {
  flex: 1;
}

.product-delivered-info{
  flex: 0 0 180px;
}
















.component{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-modal{
  width: 100%;
  height: 85%;
  position: absolute;
  background-color: red;
}

.loading-modal opa-loading{
  width: 100%;
  height: 100%;
}

.launch-order-modal{
  width: 100%;
  height: 85%;
  position: absolute;
}

.order-modal{
  width: 100%;
  height: 85%;
  position: absolute;
}

.yellow-line{
  width: 100%;
  height: 10%;
}

.container{
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-header{
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header button{
  width: 15%;
  height: 80%;
  border: none;
  background-color: #ffcf24;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2vh;
  border-radius: 8px;
  color: #956004;
  transition: 0.1s;
}

.container-header button:hover{
  border: 1px solid #956004;
  background-color: #ffcf24;
  font-size: 2.1vh;
  cursor: pointer;
}

.container-content{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-content-left{
  width: 45%;
  height: 98%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.container-content-right{
  width: 45%;
  height: 98%;
  display: flex;
  flex-direction: column;
}

.container-content-left-header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.container-content-left-header p{
  margin: 0;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: poppins;
  color: #B7B3A1;
}

.container-content-right-header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.container-content-right-header p{
  margin: 0;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: poppins;
  color: #B7B3A1;
}


.container-content-left-loop-space{
  width: 100%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-content-right-loop-space{
  width: 100%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loop-cell{
  width: 95%;
  height: 7vh;
  min-height: 7vh;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loop-cell-info-bar{
  width: 100%;
  height: 7vh;
  min-height: 7vh;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loop-cell-img{
  width: 10%;
  height: 100%;
  display: flex;
}

.loop-cell-img img{
  border-radius: 999px;
}

.loop-cell-text{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loop-cell-text p {
  margin: 0;
  width: 96%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;
}

.loop-cell-division{
  width: 1px;
  height: 80%;
  background-color: #cccccc;
}

.loop-cell-tableNumber{
  width: 20%;
  height: 100%;
}

.loop-cell-tableNumber p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;

}

.loop-cell-qt{
  width: 10%;
  height: 100%;
}

.loop-cell-qt P{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;
}

.loop-cell-modal-button{
  width: 10%;
  height: 100%;
}


.loop-cell-deep-info{
  width: 98%;
  min-height: 15vh;
  background-color: rgb(218, 218, 218);
  display: none;
  overflow: hidden;
  transition: display 0.3s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-direction: column;
  font-family: Poppins;
  font-weight: 300;
}

.order-status{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.order-status-text{
  width: 20%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 14px;
}

.order-status-colored{
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.status-inprogress{
  width: 30%;
  height: 100%;
  color: white;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgb(209, 209, 2);
  display: flex;
  justify-content: center;
  align-items: center
}

.status-delivered{
  width: 30%;;
  height: 100%;
  color: white;
  font-family: Poppins;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(2, 209, 106);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.status-canceled{
  width: 30%;
  height: 100%;
  color: white;
  font-family: Poppins;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(209, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

/* .order-table{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
} */

.order-table-text {
  margin: 0;
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.order-table-number {
  margin: 0;
  width: 88%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
}

.order-clients{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.order-clients-text {
  margin: 0;
  width: 9%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.order-clients-names {
  margin: 0;
  width: 86%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
}

.order-footer{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.order-ordered-time{
  width: 30%;
  height: 100%;
  display: flex;
}

.order-ordered-time-text{
  margin: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.order-ordered-time-number{
  margin: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
}

.order-responsable-waiter{
  width: 35%;
  height: 100%;
  display: flex;
}

.order-responsable-waiter-text{
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.order-responsable-waiter-name{
  margin: 0;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
}

.order-delivered-time{
  width: 30%;
  height: 100%;
  display: flex;
}

.order-delivered-time-text{
  margin: 0;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.order-delivered-time-number{
  margin: 0;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
}

.table-info-table-name{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.table-info-table-name p{
  margin: 0;
  width: 95%;
  height: 100%;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.table-info-responsable-waiter{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.table-info-responsable-waiter p{
  margin: 0;
  width: 95%;
  height: 100%;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.table-info-modal-button{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-info-modal-button button{
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-info-modal-button img{
  width: 25%;
  height: 25%;
}

.table-info-modal-button button:hover img{
  width: 30%;
  height: 30%;
  filter: invert(44%) sepia(85%) saturate(5888%) hue-rotate(39deg) brightness(95%) contrast(97%);
}

.loop-cell-deep-table-info{
  width: 98%;
  min-height: 15vh;
  background-color: rgb(218, 218, 218);
  display: none;
  overflow: hidden;
  transition: display 0.3s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-direction: column;
  font-family: Poppins;
  font-weight: 300;
  overflow-y: auto;
}

.deep-loop-cell{
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #818181;
}

.deep-loop-cell-order-name{
  width: 30%;
  height: 100%;
}

.deep-loop-cell-order-name p{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deep-loop-cell-order-status{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deep-loop-cell-order-status p{
  margin: 0;
  width: 60%;
  height: 100%;
}

.deep-loop-cell-order-quantity{
  width: 20%;
  height: 100%;
}

.deep-loop-cell-order-quantity p {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
