<div class="main container-fluid" style="background-image: url('../../assets/images/Opa!-Web.svg')">
  <div class="col-md-12 login-container">
    <div class="login-div">
      <div class="operations-container">
        <div class="buttons">
          <input type="button" class="login" (click)="redirectToOwner()" value="SOU DONO" />
          <hr class="line">
          <input type="button" class="login" (click)="redirectToEmployee()" value="SOU FUNCIONÁRIO" />
        </div>
      </div>
    </div>
  </div>
</div>
