<ng-template #createProduct>
  <div class="modal-header opa-modal-header">
    <div class="opa-modal-header-title">
      <h4 class="modal-title opa-modal-title" id="modal-basic-title">Criar produto
      </h4>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="this.modalForm" class="opa-product-form-container">
      <div class="opa-input-group">
        <label>Nome do produto</label>
        <input formControlName="productName" type="string" name="productName" class="input-item"
          placeholder="Insira o nome do produto" font-family="Poppins" />
      </div>
      <div class="row2">
        <div class="opa-product-form-description">
          <div class="opa-input-group">
            <label>Descrição do produto</label>
            <input formControlName="productDescription" type="string" name="productDescription" class="input-item"
              placeholder="Insira a descrição do produto" font-family="Poppins" />
          </div>
          <div class="opa-input-group">
            <label>Preço do produto</label>
            <input type="number" (keypress)="numberOnly($event)" min="1" max="99999" class="input-item"
              formControlName="productPrice">
          </div>
        </div>
        <div class="opa-product-form-type">
          <div class="opa-input-group">
            <label>Tipo do produto</label>
            <ng-select [items]="productTypes" bindLabel="name" bindValue="name" [clearable]="false"
              formControlName="productTypes" placeholder="-- Selecione um tipo --" [clearSearchOnAdd]="true"
              class="opa-select-2">
            </ng-select>
          </div>
          <div class="opa-input-group">
            <div class="opa-label-with-input">
              <input type="checkbox" class="round-checkbox" formControlName="typeToggle" (click)="toggleNewType()">
              <label>Adicionar novo tipo</label>
            </div>
            <input type="text" formControlName="productType" class="input-item" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer opa-modal-footer">
    <div class="modal-actions">
      <button type="button" class="opa-btn opa-btn-secondary" (click)="this.closePopUp()">Fechar</button>
      <button type="button" class="opa-btn opa-btn-primary" (click)="this.submitForm()">Salvar</button>
    </div>
  </div>
</ng-template>
