<div *ngIf="showModal" class="container">
  <form class="form" [formGroup]="modalForm">
    <div class="form-header">
      <p>Criar Produtos</p>
    </div>
    <div class="form-input-cells">
      <p>Nome do Produto</p>
      <input formControlName="productName" type="string" class="box-info" placeholder="Insira o nome"
        font-family="Poppins">
    </div>
    <div class="form-input-cells">
      <p>Tipo do produto</p>
      <input formControlName="type" type="string" class="box-info" placeholder="Insira o tipo"
        font-family="Poppins">
    </div>
    <div class="form-input-cells">
      <p>Valor do Produto</p>
      <input formControlName="productPrice" type="number" class="box-info" placeholder="Insira o preço"
        font-family="Poppins">
    </div>
    <div class="product-list">
      <div class="product-list-header">
        <p>Ingredientes do estoque</p>
        <select (change)="addProduct($event)">
          <option *ngFor="let product of stockProducts" [value]="stringify(product)">
            {{ product.name }}
          </option>
        </select>
      </div>
      <table class="selected-products-table">
        <thead class="table-head">
          <tr>
            <th>Descrição</th>
            <th>Unidade de Medida</th>
            <th>Porção</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody class="table-body" formArrayName="stockProductsForm">
          <div *ngFor="let itemForm of stockProductsForm.controls; let i=index;">
            <tr [formGroup]="itemForm">
              <td>{{ itemForm.get("stockProductName").value }}</td>
              <td>
                <select formControlName="measurementUnit" (disable)="itemForm.get('isPortion').value">
                  <option *ngFor="let unit of measurementUnits" [ngValue]="unit">{{ unit }}</option>
                </select>
              </td>
              <td>
                <input formControlName="isPortion" type="checkbox">
              </td>
              <td>
                <input formControlName="quantity" type="number">
              </td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
    <div class="container-footer">
      <div class="container-footer-buttons">
        <div class="container-footer-close-button">
          <button (click)="handleCloseModal()">
            Fechar
          </button>
        </div>
        <div class="container-footer-submit-button">
          <button (click)="saveProduct()">
            Salvar
          </button>
        </div>
      </div>
    </div>

  </form>
</div>
