.popUp{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.container{
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.container-header p {
  margin: 0;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Rubik;
  font-weight: 500;
  font-size: 3vh;
}

.boxes-space{
  width: 100%;
  height: 90%;
  display: flex;
}

.right-box{
  width: 50%;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.left-box{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ingredients-loop-space{
  width: 90%;
  height: 85%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.submit-button{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button button{
  width: 60%;
  height: 90%;
  background-color: #FFCF24;
  border: none;
  color: #956004;
  font-family: Rubik;
  font-size: 2vh;
  border-radius: 15px;
}

.submit-button button:hover{
  border: 1px solid #956004;
  font-size: 2.1vh;
  transition: 0.1s;
}
