<div class="popUp">

  <div class="container">
    <div class="container-content">
      <div class="container-header">
        <p>ADICIONAR INGREDIENTES</p>
      </div>
      <div class="boxes-space">
        <div class="left-box">
          <div class="ingredients-loop-space">

          </div>
          <div class="submit-button">
            <button (click)="this.closePopUp()">
              ENVIAR
            </button>
          </div>
        </div>
        <div class="right-box">

        </div>
      </div>
    </div>
  </div>
</div>
