@import '../../../opa-styles/opa-components.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.model-tile {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  margin: 15px;
  padding: 15px;
  height: 60%;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

.model-tile-title {
  color: var(--secondary-color);
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.model-tile-body {
  font-size: 16px;
  margin-bottom: 3px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.model-tile-body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.filter-products-container {
  margin-bottom: 10px;
}

.filter-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.model-tile-body span {
  color: var(--gray);
}

.edit {
  color: var(--secondary-color);
  cursor: pointer;
}

.erase {
  color: var(--danger-darker);
  cursor: pointer;
}

.opa-menu {
  display: flex;
  flex-direction: column;
  height: 620px;
  overflow-y: scroll;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
  padding: 15px;
  color: var(--gray-darker);
  font-size: 16px;
  line-height: 1.6;
}

.opa-menu-product-title {
  margin-bottom: 20px;
}

.opa-menu h3 {
  font-size: 30px;
  line-height: 1.1;
  color: var(--gray);
}

.opa-graph-card-description {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  font-weight: 200;
}

.opa-graph-card-description p {
  margin: 0 0 12.5px;
}

.opa-product-label {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.opa-product-name-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.opa-product-border {
  background-color: var(--primary-color);
  border-radius: 3px;
  height: 37px;
  margin-right: 5px;
  width: 3px;
}

.opa-product-content {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.product-actions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  border-bottom: 1px solid var(--gray-medium);
  width: 60%;
}

/* Parte do CSS dedicada a sobrescrever o CSS da base. */
.panel.panel-default {
  margin: 0;
  height: 620px;
}

.opa-btn {
  width: 100%;
}
