<app-create-update-stock-item [showModal]="showModal" (openModal)="openModal()"
  (closeModal)="closeModal()"></app-create-update-stock-item>
<div class="whole">
  <div class="yellow-line">
    <opa-yline routeNameToBeUsed="Cardápio" iconPath="/assets/images/order.svg"></opa-yline>
  </div>
  <div class="component">
    <div class="button-header">
      <button (click)="openModal()" class="add-product">
        <p>
          Adicionar Produto
        </p>
      </button>
    </div>
    <div class="menu-loop-space">
      <div class="menu-loop-cell">
        <div class="menu-img">
          <img src="/assets/images/opa-logo-white.svg" alt="">
        </div>
        <div class="menu-info">
          <div class="menu-name">
            <p>Catinha de Parangola</p>
          </div>
          <div class="menu-description">
            <div class="descript-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non, amet quis ex sequi doloribus beatae ullam quasi magni quo doloremque fuga enim architecto repellendus laudantium pariatur perferendis ipsum. Labore.</p>
            </div>
            <div class="menu-value">
              <p>R$ 10.99</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
