*{
  margin: 0;
}

.topbar{
  width: 100%;
}

.home{
  width: 100%;
  min-height: 82.7vh;
}

.opa-footer {
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  background: var(--primary-color);
  color: var(--white);
}

.opa-footer i {
  color: var(--secondary-color);
}
