.container {
  position: absolute;
  display: block;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0.5; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-info {
  width: 100%;
  height: 4vh;
  white-space: nowrap;
  outline: none;
  margin: 0;
  border: 1.7px solid black;
  border-radius: 4px;
  font-size: large;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 1.5%;
}

.text{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #525252;
  font-weight: bold;

}

.container-input{
  /* background-color: black; */
  width: 50%;
  height: 13vh;
}

.form {
  width: 60%;
  background-color: white;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff1c0;
  font-weight: bold;
  margin: 0;
}

.product-list {
  width: 95%;
  border-radius: 3%;
}

.product-list-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  box-sizing: border-box;
}

.product-list-select{
  width: 100%;
  height: 4vh;
}

.product-list-header div {
  width: 30px;
  height: 30px;
  background-color: #ffe587;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.button-save {
  cursor: pointer;
  width: 20%;
  height: 10%;
  border-radius: 14px;
  margin-right: 7px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  color: #525252;
  border: none;
  background-color: #FFCF24;
}

.button-cancel {
  cursor: pointer;
  width: 20%;
  height: 10%;
  border-radius: 14px;
  margin-left: 7px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  color: #525252;
  border: none;
}

.selected-products-table {
  width: 100%;
}

.table-head tr {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-color: rgb(235, 235, 235);
  padding: 1%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.table-body tr {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.table-head th {
  width: 50%;
  color: #525252;
}

.table-body td {
  width: 50%;
}

.button-container {
  padding-top: 3%;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  width: 100%;
}

@media (max-width:749px) {

  .form {
    width: 90%;
  }
}