<ng-template #content>
  <div class="modal-header opa-modal-header">
    <div class="opa-modal-header-title">
      <h4 class="modal-title opa-modal-title" id="modal-basic-title">Histórico da mesa {{ this.tableDetailed.table.id }}
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="this.closeModal()"></button>
    </div>
    <div class="opa-modal-header-info">
      <div>
        Mesa aberta às: <strong>{{ this.tableDetailed.table.openTime }}</strong>
      </div>
      <div class="order-responsible-container">
        Garçom responsável: <strong>{{ this.tableDetailed.table.waiter}}</strong>
        <div class="avatar-container">
          <i class="fa-solid fa-user-tie"></i>
        </div>
      </div>
      <div>
        Token da mesa: <strong>{{ this.tableDetailed.table.token }}</strong>
      </div>
    </div>
  </div>
  <div class="modal-body opa-modal-footer">
    <div class="detailed-table-order-info info-danger mb-2" *ngFor="let order of this.tableDetailed.orders">
      <div class="product-photo">
        <img src="../../../assets/images/default-food-image.jpg" alt="">
      </div>
      <div class="product-description">
        <div>
          Nome do produto: <strong>{{ order.menuItem.name }}</strong>
        </div>
        <div>
          Preço: <strong> R$ {{ order.menuItem.price }}</strong>
        </div>
      </div>
      <hr class="link-line">
      <div class="product-delivered-info">
        <div>
          Pedido feito às: <strong>{{ order.orderedTime }}</strong>
        </div>
        <div>
          <span *ngIf="order.status == 1" class="badge opa-badge opa-badge-warning">Em andamento</span>
          <span *ngIf="order.status == 2" class="badge opa-badge opa-badge-success">Entregue</span>
          <span *ngIf="order.status == 3" class="badge opa-badge opa-badge-danger">Cancelado</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer opa-modal-footer">
    <div class="table-total-info">
      <p>Total cobrado: </p>
      <strong>R$ {{ this.tableTotalBill.toFixed(2).replace('.', ',') }}</strong>
    </div>
    <div class="table-total-info">
      <p>Total de pedidos: </p>
      <strong>{{ this.tableDetailed.orders.length }}</strong>
    </div>
  </div>
</ng-template>
