/* Buttons */
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.6;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  font-family: 'Poppins', sans-serif;
}

.btn:focus {
  outline-offset: -2px;
  text-decoration: none;
}

.btn:active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  color: var(--white);
  background-color: var(--primary-color-light-darker);
  border-color: var(--secondary-color-light-darker);
}

.btn-primary:focus {
  color: var(--white);
  background-color: var(--primary-color-light-darker);
  border-color: var(--secondary-color-light-darker);
}

.btn-primary:active {
  color: var(--white);
  background-color: var(--primary-color-light-darker);
  border-color: var(--secondary-color-light-darker);
  background-image: none;
}

.btn-secondary {
  color: var(--secondary-color-light-darker);
  background-color: var(--white);
  border-color: var(--secondary-color-light-darker);
}

.btn-secondary:hover {
  color: var(--secondary-color-light-darker);
  background-color: var(--gray-medium);
  border-color: var(--secondary-color-light-darker);
}

.btn-secondary:focus {
  color: var(--secondary-color-light-darker);
  background-color: var(--gray-medium);
  border-color: var(--secondary-color-light-darker);
}

.btn-secondary:active {
  color: var(--secondary-color-light-darker);
  background-color: var(--gray-medium);
  border-color: var(--secondary-color-light-darker);
  background-image: none;
}

.opa-add-button {
  background: var(--primary-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--white);
  cursor: pointer;
}

.opa-add-button:hover {
  color: var(--white);
  background-color: var(--primary-color-light-darker);
  border-color: var(--secondary-color-light-darker);
}

.opa-add-button:active {
  color: var(--white);
  background-color: var(--primary-color-light-darker);
  border-color: var(--secondary-color-light-darker);
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.opa-add-button i {
  font-size: 20px;
}

/* Panels */
.panel {
  background-color: var(--white);
  border-radius: 6px;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  font-weight: 500;
  width: 100%;
}

.panel.panel-default {
  margin: 10px 0;
  border-color: var(--gray-light);
}

.panel.panel-icon {
  margin: 0;
  border-color: var(--gray-medium);
}

.panel-heading {
  align-items: center;
  display: inline-flex;
  font-size: 18px;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  vertical-align: middle;
  width: 100%;
}

.panel-heading.panel-heading-default {
  padding: 10px 15px;
  border-color: rgba(0,0,0,.05);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.panel-heading.panel-heading-icon {
  height: 44px;
  padding: 0;
  border-color: var(--gray-medium);
  background-color: var(--gray-lighter);
  color: var(--gray);
}

.panel-heading i {
  align-items: center;
  border-right: 1.1px solid var(--gray-medium);
  display: inline-flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  margin-right: 23px;
  padding: 0 15px;
  width: 70px;
}

.panel-body {
  overflow: auto;
  padding: 15px;
}

/* Inputs */
.input-item,
.input-item-medium,
.input-item-large {
  display: block;
  width: 100%;
  height: 39px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--gray);
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin: 0;
  margin-bottom: 15px;
}

.input-item-medium {
  height: 45px;
}

.input-item-large {
  height: 50px;
}

.input-item-medium:focus,
.input-item-large:focus,
.input-item:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(149,96,4,.2);
}

.zip-complete {
  display: block;
  width: 100%;
  height: 39px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--gray-medium);
  background-color: var(--gray-light);
  border: 1px solid var(--gray-medium);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.zip-complete:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(149,96,4,.2);
}

label {
  color: var(--secondary-color);
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  max-width: 100%;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.ng-select.opa-select-2 ::ng-deep .ng-select-container {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
  margin-bottom: 15px;
  height: 39px;
  line-height: 1.6;
  font-size: 16px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}

.ng-select.opa-select-2 ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: var(--primary-color);
}

.ng-select.opa-select-2 ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  background-color: var(--primary-color-lighter);
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-closed) > .ng-select-container {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.15),0 0 8px rgba(149,96,4,.2);
}

.opa-value-container {
  background: var(--primary-color);
  border-radius: 8px;
  padding: 1px 8px;
  display: flex;
  gap: 2px;
  align-items: center;
}

.value-close-button {
  cursor: pointer;
}


/* Tabelas */
.opa-table {
  display: table;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.opa-table thead {
	background: transparent;
	font-size: 18px;
}

.opa-table thead tr td,
.opa-table thead tr th {
	color: #3e3e3e;
	font-weight: bold;
}

.opa-table > caption + thead > tr:first-child > th,
.opa-table > caption + thead > tr:first-child > td,
.opa-table > colgroup + thead > tr:first-child > th,
.opa-table > colgroup + thead > tr:first-child > td,
.opa-table > thead:first-child > tr:first-child > th,
.opa-table > thead:first-child > tr:first-child > td {
	border-top: 0;
}

.panel .opa-table-report th,
.panel .opa-table-report td {
	font-size: 15px;
	height: 64px;
	line-height: 19px;
	padding: 0 12px;
}

.opa-table-report th,
.opa-table-report td {
	border: 0;
	color: #5b5a5a;
	padding: 25px 30px;
}

.opa-table thead tr td,
.opa-table thead tr th {
	color: #3e3e3e;
	font-weight: bold;
}

.opa-table thead tr td,
.opa-table thead tr th,
.opa-table tbody tr td,
.opa-table tbody tr th {
	height: 60px;
	line-height: 1.3;
	padding: 10px 25px;
	vertical-align: middle;
}

.opa-table tbody tr td,
.opa-table tbody tr th {
	min-width: 40px;
	word-break: break-word;
}

.opa-table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: rgba(213,210,210,.1);
}

th {
	text-align: left;
}

.text-right {
  text-align: right;
}
